{
  "scriptFile": "__init__.py",
  "bindings": [
    {
      "type": "cosmosDBTrigger",
      "name": "documents",
      "direction": "in",
      "leaseCollectionName": "leases",
      "connectionStringSetting": "${connectionStringSetting}",
      "databaseName": "${databaseName}",
      "collectionName": "${collectionName}",
      "createLeaseCollectionIfNotExists": true,
      "leaseCollectionPrefix": "${prefix}"
    }
  ]
}